<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <form [formGroup]="checkOutFromGroup" (ngSubmit)="onSubmitPurchase()">
        <!--Customer details-->
        <div formGroupName="customer" class="form-area">
          <h3>Customer</h3>
          <div class="row">
            <div class="col-md-2">
              <label for="firstName">First Name</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="firstName" type="text" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="lastName">Last Name</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="lastName" type="text" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="email">Email</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="email" type="email" />
              </div>
            </div>
          </div>
          <app-form-error [errors]="customersError"></app-form-error>
        </div>

        <!--Shipping Address-->
        <div formGroupName="shippingAddress" class="form-area">
          <h3>Shipping Address</h3>
          <div class="row">
            <div class="col-md-2">
              <label for="country">Country</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select
                  formControlName="country"
                  (change)="updateStates('shippingAddress')"
                >
                  @for (country of contries; track $index) {
                  <option [ngValue]="country">{{ country.name }}</option>
                  }
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="street">Street</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="city">City</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="city" type="text" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="state">State</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state">
                  @for (state of shippingStates; track $index) {
                  <option [value]="state.id">{{ state.name }}</option>
                  }
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="zipCode">Zip Code</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipCode" type="text" />
              </div>
            </div>
          </div>
          <app-form-error [errors]="shippingAddressErrors"></app-form-error>
        </div>

        <!--Add check to copy shipping address to billing address-->
        <div class="input-space">
          <label class="au-checkbox">
            <input type="checkbox" (change)="copyShippingToBilling($event)" />
            <span class="au-checkmark"></span>Billing address same as shipping
            address
          </label>
        </div>

        <!--Billing Address-->
        <div formGroupName="billingAddress" class="form-area">
          <h3>Billing Address</h3>
          <div class="row">
            <div class="col-md-2">
              <label for="country">Country</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select
                  formControlName="country"
                  (change)="updateStates('billingAddress')"
                >
                  @for (country of contries; track $index) {
                  <option [ngValue]="country">{{ country.name }}</option>
                  }
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="street">Street</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="city">City</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="city" type="text" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="state">State</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state">
                  @for (state of billingStates; track $index) {
                  <option [value]="state.id">{{ state.name }}</option>
                  }
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="zipCode">Zip Code</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipCode" type="text" />
              </div>
            </div>
          </div>
          <app-form-error [errors]="billingAddressErrors"></app-form-error>
        </div>

        <!--Credit Card Information-->
        <div formGroupName="creditCard" class="form-area">
          <h3>Credit Card</h3>
          <div class="row">
            <div class="col-md-2">
              <label for="cardType">Card Type</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="cardType">
                  <option value="">Visa</option>
                  <option value="">MasterCard</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="nameOnCard">Name on card</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="nameOnCard" type="text" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="cardNumber">Card Number</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="cardNumber" type="number" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="securityCode">Security Code</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="securityCode" type="number" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="expirationYear">Expiration Year</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select
                  formControlName="expirationYear"
                  (change)="onCreditCardYearChange()"
                >
                  @for (year of creditCardYears(); track $index) {
                  <option>{{ year }}</option>
                  }
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label for="expirationMonth">Expiration Month</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="expirationMonth">
                  @for (month of creditCardMonths(); track $index) {
                  <option>{{ month }}</option>
                  }
                </select>
              </div>
            </div>
          </div>
          <app-form-error [errors]="creditCardErrors"></app-form-error>
        </div>

        <!--Order Details-->
        <div class="form-area">
          <h3>Review Your Order</h3>
          <p>Total Quantity: {{ totalQuantity() }}</p>
          <p>
            Shipping:
            {{
              totalPrice() > 200 || totalQuantity() == 0
                ? "FREE"
                : (50 | currency : "INR")
            }}
          </p>
          <p>Total Price: {{ totalPrice() | currency : "INR" }}</p>
          <p>
            Order Total:
            {{
              totalPrice() +
                (totalPrice() > 200 || totalQuantity() == 0 ? 0 : 50)
                | currency : "INR"
            }}
          </p>
        </div>

        <!--Submit the form-->
        <div class="text-center">
          <button type="submit" class="btn btn-info">Purchase</button>
        </div>
      </form>
    </div>
  </div>
</div>
