<div class="detail-section">
  <div class="container-fluid">
    @if(product){
    <div>
      <img [src]="product.imageUrl" alt="" class="detail-img" />
      <h3>{{ product.name }}</h3>
      <div class="price">{{ product.unitPrice | currency : "INR" }}</div>
      <button class="btn btn-primary btn-sm" (click)="addToCart()">
        Add to cart
      </button>
      <hr />
      <h4>Description</h4>
      <p>{{ product.description }}</p>

      <a routerLink="/products" class="mt-5">Back to product list</a>
    </div>
    } @else {
    <div class="alert alert-warning col-md-12" role="alert">
      <h2>Oops! Something went wrong...</h2>
      <p>
        It’s not you, it’s us. Our system is having a little hiccup. Please
        check back in a moment.
      </p>
      <p>If the problem persists, please contact support.</p>
    </div>
    }
  </div>
</div>
